h1 
{
	text-align: left; 
	color: red;
	font-size:70px;
}
body{
	background-color:#e0e0d1
}
#big{
width:80%;
margin:0 auto;	
background-color: #e0e0d1
}
#banner{
	width:100%;
	height:100px;
	background-color: white
}
#navbar{
	width:100%;
	background-color:white;
}
.navele{
	text-align: center;
	width:12.31%;
	float:left; 
	background-color: red;
	border-bottom:1px solid white;
	border-left:1px solid white;
	border-right:1px solid white;
	
}
.ooh{
	float: left;
	width:50%;
	background-color: white;
	height: 600;

}
.oon{
	float: right;
	width:50%;
	background-color: white;
	height: 600;

}
#bigmiddlecolumn{
	width:55.3%;
	height:1200px;
	background-color:#e0e0d1;
	float:right;
	margin: 5px 5px 5px 5px;
	
}
.smallproduct1{
	width:20%;
	float:left;
	padding: 5px 5px 5px 5px;
	height: 1200px;
	background-color: #e0e0d1;
	margin: 5px 5px 5px 5px;
	
}
.smallproduct2{
	width:20%;
	float:right;
	padding:5px 5px 5px 5px;
	height:1200px;
	background-color: #e0e0d1;
	margin: 5px 5px 5px 5px
}
.midproduct{
	width:100%;
	background-color:white;
	height:200px;
	margin-bottom:5px
}
#hd{
	width:100%;
	font-size:30px;
	height:50px;
	background-color:red;
	float:left;
}
#bigmiddleproduct{
	width: 100%;
	background-color:white;
	height: 400px;
	margin-bottom: 5px;
}
.box{
width:100%;
height:300px;
margin-bottom:5px;
margin-top:5px;
background-color:white;
font-size:30px;
text-align:center;

}
.bigbox{
width:100%;
height:600px;
margin-bottom:5px;
margin-top:5px;
background-color:white;
font-size: 40px;
}
#bottombanner{
	width:100%;
	height:70px;
	background-color: red;
	clear:both;
	border-top:30px solid #e0e0d1;
	float: left;
	margin-top: 30px;

	
}
#left{
	float: left;
	width:300px;
	height:300px;
	
}
.let{
	float: left;
	width:200px;
	height:200px;
	
}
#login{
	background-color:red;
	width:100%;
	height: 20%;
	font-size:30px;
	font-family:"Comic Sans MS"
}
#smallbox{
	height:90%;
	width:90%;
	background-color: grey;
	border:5px solid white
}
.box2{
width:100%;
height:320px;
margin-bottom:5px;
margin-top:5px;
background-color:white;
font-size:30px;
text-align:center;

}
a:hover{
	color:white; 
	background-color:#cc0000;
	}
a{
	text-decoration:none;
	color:black;
	display:block;
	}