table{
	width: 300px;
	height: 300px;
	margin-left:auto;
	margin-right:auto;
}
button{
	height:100px;
	width:100px;
	font-size:20;
}
body{
	text-align: center;
	color: blue;
}
p{
	color:black;
}
#taylor2{
	width:1px;
	height:1px;
	margin-left:auto;
	margin-right:auto;
}